@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
body {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url(https://garden.spoonflower.com/c/11578583/p/f/l/CPylg_nPMUQiy_OsdzCSrO0w5SXQWRX6mj3-L3_IqGapXGQRND7h/Rainbow%20Leopard%20.jpg);
}

/* styling paper */
#user-paper {
  width: 600px;
  height: 200vh;
  position: relative;
  margin: 20px auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #888;
}

/* styling red vertical line */
#user-paper::before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
  background-color: pink;
}

/* styling blue horizontal lines */
#user-pattern {
  height: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

/* styling text content */
#user-content {
  /* padding-top: 6px; */
  padding-left: 56px;
  padding-right: 16px;
  line-height: 25px;
  font-family: "Dancing Script", cursive;
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 5px;
  text-align: center;
  color: #585ace;
}

#user-image {
  border-radius: 50%;
  width: 150px;
  /* border: 5px solid pink; */
  margin-top: 80px;
}

#edit-bttn {
  color: #c3d74f;
  position: absolute;
  margin-top: 20px;

  transform: translateX(-50%);
  width: 100px;
  height: 30px;
  background-color: #585ace;
  font-weight: bolder;
  border-radius: 12px;
  font-size: medium;
}

#edit-bttn:hover {
  color: #585ace;
  background-color: #c3d74f;
  transition: 0.2s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#delete-bttn {
  color: #585ace;
  /* position: absolute; */
  margin-top: 3px;
  margin-left: 70px;
  transform: translateX(-50%);
  width: 80px;
  height: 25px;
  background-color: pink;
  font-weight: bolder;
  border-radius: 12px;
  font-size: small;
}

#user {
  padding-left: 55px;
  line-height: 45px;
  margin-bottom: 40px;
  position: absolute;
  top: 0px;
  left: 30%;
  color: #585ace;
  letter-spacing: 3px;
  font-size: 50px;
}

#new-bttn,
#random-bttn {
  background-color: #c3d74f;
  /* position: relative; */
  margin-top: 40px;

  /* transform: translateX(-50%); */
  width: 100px;
  height: 40px;
  color: #585ace;
  font-weight: bolder;
  border-radius: 12px;
  font-size: medium;
  /* margin-left: 80px; */
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
  margin-left: 20px;
}

#fortunes {
  margin-top: 60px;
  font-size: 38px;
  color: #00acb0;
  font-size: 40px;
}

#games {
  font-size: 24px;
  line-height: 1.5;
}

.grid-container {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-gap: 20px;
  margin-top: 20px;
}
