@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
body {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url(https://garden.spoonflower.com/c/11578583/p/f/l/CPylg_nPMUQiy_OsdzCSrO0w5SXQWRX6mj3-L3_IqGapXGQRND7h/Rainbow%20Leopard%20.jpg);
}

#results-header {
  position: absolute;
  top: 5px;
  left: 29%;
  color: #585ace;
  letter-spacing: 3px;
  font-size: 50px;
  margin-bottom: 20px;
}

/* styling paper */
#results-paper {
  width: 600px;
  height: 83vh;
  position: relative;
  margin: 20px auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #888;
}

/* styling red vertical line */
#results-paper::before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
  background-color: #585ace;
}

/* styling blue horizontal lines */
#results-pattern {
  height: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

/* styling text content */
#results-content {
  padding-top: 50px;
  padding-left: 56px;
  padding-right: 16px;
  line-height: 15px;
  font-family: "Dancing Script", cursive;
  font-size: 24px;
  letter-spacing: 1px;
  word-spacing: 5px;
  text-align: center;
  color: #585ace;
}

h1 { 
  font-size: 40px;
}

h2 {
  color: #00acb0;


}

h3 {
  font-size: 28px;
}

#next-bttn {
  background-color: #c3d74f;
  position: absolute;
  bottom: 42px;
  left: 53%;
  transform: translateX(-50%);
  width: 150px;
  height: 50px;
  color: #585ace;
  font-weight: bolder;
  border-radius: 12px;
  font-size: large;
}

#next-bttn:hover {
  background-color: #585ace;
  color: #c3d74f;
  transition: 0.2s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
