@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

/* styling paper */
#about-paper {
  width: 600px;
  height: 100vh;
  position: relative;
  margin: 20px auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #888;
}

/* styling red vertical line */
#about-paper::before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
  background-color: #00acb0;
}

/* styling blue horizontal lines */
#about-pattern {
  height: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

#about {
  line-height: 40px;
  position: relative;
  top: -150px;
  font-family: "Dancing Script", cursive;
  margin-bottom: -110px;
}

#about-content {
  padding-left: 56px;
  padding-right: 16px;
  line-height: 25px;
  font-family: "Playfair Display", serif;
  font-size: 15px;
  word-spacing: 5px;
  text-align: center;
  color: #585ace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

input {
  border: none;
  border-bottom: 2px solid #585ace;
}

#submit-bttn {
  background-color: #c3d74f;
  margin-top: 50px;
  width: 100px;
  height: 25px;
  color: #585ace;
  font-weight: bolder;
  border-radius: 12px;
  font-size: medium;
}

#submit-bttn:hover {
  background-color: #585ace;
  color: #c3d74f;
  transition: 0.2s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
